.container {
display: flex;
justify-content: flex-end;
height: 20px;
background-color: rgba(2, 23, 42, 0.3);
border-bottom: 1px solid rgba(2, 23, 42, 0.4);
}

.images {
margin-left: 10px;
margin-right: 20px;
width: 22px;
height: 20px;

}


.button {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 56px;
  height: 20px;
  outline: none;
  border: none;
  overflow: hidden;
  padding: 0px;
  border-bottom: 1px solid rgba(2, 23, 42, 0.4);
border-left: 1px solid rgba(2, 23, 42, 0.4);

}

.button:hover {
color: white;
background-color: #ff6b09;
}