.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17px 0 19px;
}

.toggleField {
    width: 56px;
    height: 70px;
    border-left: 1px solid #e2e3e5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatarAbdButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
    .avatarAbdButton {
        display: none;
    }
}