.section {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .section {
    max-width: 320px;
    background-image: url(../../images/fond-320.jpg);
  }
}
@media screen and (max-width: 1279px) and (min-width: 321px) {
  .section {
    max-width: 768px;
    background-image: url(../../images/fond-768.jpg);
  }
}
@media screen and (min-width: 769px) {
  .section {
    max-width: 1280px;
    background-image: url(../../images/fond-1280.jpg);
  }
}
h2,
li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
h2 {
  width: 129px;
  margin-left: 20px;
  margin-right: 171px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
}
a.linkResource {
  text-decoration: none;
  color: #000000;
}
a.linkResource:active,
a.linkResource:hover {
  color: #ff6b01;
  text-decoration: underline;
}

.linkLiterature {
  color: #000000;
  text-decoration: none;
}
a.linkLiterature:active,
a.linkLiterature:hover {
  color: #ff6b01;
  text-decoration: underline;
}
.usefulInfo {
  margin-left: 20px;
  padding-right: 93px;
  width: 207px;
  height: 72px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 0;
}
.literature {
  padding-top: 40px;
  margin-bottom: 0;
}
.resources {
  margin-top: 22px;
  padding-bottom: 111px;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  h2 {
    width: 396px;
    margin-left: 115px;
    margin-right: 257px;
  }
  .usefulInfo {
    margin-left: 175px;
    padding-right: 257px;
    width: 295px;
    height: 95px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .literature {
    padding-top: 119px;
    margin-bottom: 0;
  }
  .resources {
    margin-top: 38px;
    padding-bottom: 416px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    width: 396px;
    margin-left: 190px;
    margin-right: 694px;
  }
  .usefulInfo {
    margin-left: 250px;
    padding-right: 694px;
    width: 396px;
    height: 95px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .literature {
    padding-top: 98px;
    margin-bottom: 0;
  }
  .resources {
    margin-top: 38px;
    padding-bottom: 262px;
  }
}
.materials {
  width: 207px;
  height: 95px;
  left: 250px;
  top: 243px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  padding: 0;
  letter-spacing: 0.02em;
  color: #000000;
}
.backlink {
  color: #000000;
  margin-bottom: 10px;
}

.backlink::after {
  content: '';
  display: block;
  width: 150px;
  height: 1px;
  margin-top: 22px;
  opacity: 0.15;
  border: 1px solid #00122f;
}

@media screen and (min-width: 768px) {
  .materials {
    width: 295px;
    height: 95px;
    left: 250px;
    top: 243px;
    font-size: 14px;
    line-height: 22px;
  }
  .backlink {
    color: #000000;
    margin-bottom: 25px;
  }

  .backlink::after {
    content: '';
    display: block;
    width: 321px;
  }
}

/* для mobile */
/* @media screen and (max-width: 767px) {
  .section {
    max-width: 320px;
    background-image: url(../../images/fond-320.jpg);
  }
} */
/* для планшета */
/* @media screen and (max-width: 1279px) and (min-width: 321px) {
  .section {
    max-width: 768px;
    background-image: url(../../images/fond-768.jpg);
  }
} */
/* для десктопа */
/* @media screen and (min-width: 769px) {
  .section {
    max-width: 1280px;
    background-image: url(../../images/fond-1280.jpg);
  }
} */
