@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

.div_container {
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 290px;

  padding: 30px;
  margin-bottom: 70px;

  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: #fff;

  font-family: Montserrat;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #555555;
}

.div_title {
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;

  color: #000000;
}

.div_sub_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.div_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.bold_items {
  font-weight: bold;
  color: #000000;
}

/* SCREEN TABLET */
@media screen and (min-width: 768px) {
  .div_container {
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 400px;

    margin-bottom: 70px;
  }
  .div_title {
    font-weight: 800;
    font-size: 30px;
    line-height: 20px;

    color: #000000;
  }

  .div_sub_title {
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
  }

  .div_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
